/* project conatainer */
.project.container {
    display: flex;
    align-items: center;
    flex-direction:column;
}

/* button */
.button {
    color: #FDFCDC;
    text-align: center;
    background-color: #892651;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -4px 3px 0px rgba(0, 175, 185, .50);
}

.button:hover {
    cursor: pointer;
}

.button:active{
    color: dimgray;
    background:#FFFFFF;
    
}

/* Inputs */
.project-panel,
.project-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}


.ascii-art {
    font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
    font-weight: bold;
    font-size: .5rem;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 1rem;
    white-space: pre;
    overflow-x: auto;
    display: block;
}