/* ==== UNIVERSAL ==== */
html {
    font-family: 'Yaldevi',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    color: dimgray;
    background-color: #fed9b7;
    margin : 0 10%;
}

a {
    color: #892651;
}

h3 {
    Font-weight: 700;
    Font-size: 24px;
    Font-family: "Yrsa";
}

@media screen and (max-width: 700px) {
    /* ---- UNIVERSAL ---- */
    html {
        font-size: 14px;
    }
    body {
        margin: 0 5%;
    }
}

/* ==== MAIN ==== */
section {
    margin-bottom: 1.5rem;
}

.container {
    background-color: #FDFCDC;
    box-shadow: -4px 3px 0px rgba(0, 175, 185, .50);
    border-radius: 5px;
    padding: 1rem;
    margin: .75rem auto;
    display: flex;
    gap: .75rem;
}

.container h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.container p {
    margin: auto 1rem;
}


.section-container {
    display: flex;
    text-align:inherit;
}

.section-container h2{
    font-size: 1.5rem;
    justify-content: space-between;
    letter-spacing: 5px;   
}


/* ---- ABOUT-ME ----*/
.about-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    box-shadow: 0px 0px 0px #fed9b7;
    width: 100%;
}

.about-panel {
    flex: 3;
    background-color: #FDFCDC;
    box-shadow: -4px 3px 0px rgba(0, 175, 185, .50);
    border-radius: 5px;
    padding: 10px;
}

#time-container {
    color: #892651;
    font-weight: bold;
}

.about-picture {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width:18.75rem;
    min-width: none;
}

.about-picture img{
    border-radius: 5px;
    box-shadow: -4px 3px 0px rgba(0, 175, 185, .50);
    flex:1;
    width: 100%;
    height: auto;
    display: block;
    
}

@media screen and (max-width: 1374px) {
    .about-picture {
      flex: none;
    width: 300px;
    }

.about-picture img {
    width: 100%;
    }
}

@media screen and (max-width: 1098px) and (min-width: 701px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  .about-picture {
    width: 100%;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
  }
  .about-picture img {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .about-panel {
    order: 1;
}
}

@media screen and (max-width: 700px) {
    .section-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-container {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .about-picture {
        width: 100%;
        justify-content: center;
        max-width: 100%;
    }
    .about-picture img {
        max-width: 200px;
        margin: 0 auto;
        order: -1;
    }
    .about-panel {
        order: 1;
    }
}

/* ---- SKILLS ---- */
.skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;

}

.image-with-tooltip {
    display: block;
    width: 3rem;
    height: auto;
    
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  top: -2rem; /* Centre verticalement le tooltip */
  left: 50%; /* Centre horizontalement le tooltip */
  transform: translate(-50%, -50%); /* Ajuste la position pour un centrage parfait */
  background-color: #89265191;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s; /* Animation pour l'apparition */
  
  text-align: center;
}

.image-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 700px) {
    .skills-icons {
        gap: 1rem;
    }
    .skills-icons img {
        width: 2rem;
    }
}

/* ---- PROJECTS ---- */

.project-panel {
    justify-items: start;
    flex-wrap: wrap;
}

.project-panel a {
    color: #892651;
    text-decoration: underline;
    display: block;
    text-align: left;
    width: 100%;
    
}
.project-panel a:hover {
    cursor: pointer;
    color: dimgray;
}

.project-panel a:active {
    color: dimgray;
    background:#FFFFFF;
}

.project-images {
    display: flex;
    width: 100%;
    gap: .5rem;
    border-radius: 5px;
}

.project-images img {
    width: 30%;
    border-radius: 5px;
}

@media screen and (max-width: 1098px) and (min-width: 701px) {
    /* ---- PROJECTS ---- */
    .project.container {
        flex-direction: column;
    }
}
@media screen and (max-width: 1098px) {
    .project-images {
        display: flex;
        gap: .25rem;
        justify-content: center;
        width: 95%;
        margin: auto; 
    }
    .project-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .project-images img {
        margin-bottom: 0;
        flex: 3 3 auto;
    }

}


/* ---- CONTACT ---- */
.container.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container.contact p{
    font-size: 1.5rem;
}

.contact-icones {
    display: flex;
    gap: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.contact-icones img{
    width: 3rem;
    height: auto;
}

@media screen and (max-width: 700px) {
    .container.contact {
        
        padding: 0.5rem;
    }
    .contact-icones {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-icones img {
        width: 2rem;
    }
    .container {
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
    }
}

/* ==== FOOTER ==== */
footer {
    text-align: right;
}